@import url(http://fonts.googleapis.com/css?family=Poiret+One|Roboto);
 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
body {
    background-image: radial-gradient(closest-corner at 23% 58%, rgba(157, 166, 113, 0.2) 0%, rgba(38, 88, 137, 0.25) 60%, rgba(30, 82, 142, 0.33) 100%), linear-gradient(#000815 0%, #0074D9 100%);
    display: table;
    color: #cecece;
}
p {
    line-height: 1.4em;
}
a {
    text-decoration: none;
    color: currentColor;
    transition: all 300ms ease-in-out;
}
.splash p a{
    border-bottom:dotted 1px rgba(255,255,255,.2);
}
.splash p a:hover{
    color:#eee;
    border-bottom-color: rgba(255,255,255,0);
}
body::before {
    content:"";
    background: url(http://i.imgur.com/PHckRIJ.png);
    opacity: 0.99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.splash {
    display: block;
    position:relative;
    z-index:2;
    height: 4em;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.splash h1 {
    font-family:'Poiret One', cursive;
    font-size: 4em;
    margin-top: -1.25em;
    margin-bottom: 0;
    font-weight: 600;
}
.links {
    list-style: none;
    padding: 0;
}
.links li {
    display: inline-block;
    margin: 1.2em .66em 0;
}
.links li a {
    color: whiteSmoke;
    opacity: 0.5;
    text-shadow: 0 0 5px rgba(0, 0, 64, .33);
    position: relative;
    width: 3em;
}
.links li a:hover {
    color: white;
    opacity: 1;
}
.links li a::after {
    content: attr(data-title);
    position: absolute;
    display:block;
    bottom: -2em;
    white-space: nowrap;
    text-align:center;
    left:-3em;
    right:-3em;
    font-weight: 400;
    opacity:0;
    transition:opacity 300ms ease-in-out;
}
.links li a:hover::after{
    opacity:1;
}
